img {
    width: 100%
}

.Image-Wrapper {
    max-width: 20rem
}

.Hero-Container {
    height: 90vh;
    background-color: #FCD0A1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content {
display: flex;
flex-direction: column;
text-align: center;
}

.hero-content h1 {
    font-size: 7em;
}

.hero-content p {
    font-size: 7em;
}