.about-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.about-container section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about-container p {
    font-size: 2em;
}