.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.form-class {
    display: flex;
    flex-direction: column;
    width: 50rem;
    justify-content: center;
    align-items: center;
}